.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loaderSpin {
    color: #3b3b3b;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
    transition: 0.2s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}